.column {
    float: left;
    width:50%;
    padding: 10px;
    height: 100%;
  margin: 0;
}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  img{
    
    float: right; 
    transform: translate(-10%);
   border-radius: 50%;
  }

  